.header {
  display: flex;
  // flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 15px;
}

.header__tools {
  display: flex;
  justify-content: space-between;
  margin: 2.5% 3% 0 3%;
}
